@page
@model Etalem.Areas.Identity.Pages.Instructor.Courses.CreateModel
@{
    ViewData["Title"] = "Create Course";
}

<h1 class="text-3xl font-bold mb-8">Create a New Course</h1>

<form method="post" class="max-w-3xl mx-auto">
    <div class="form-group mb-6">
        <label class="block text-sm font-medium text-gray-700 mb-2" asp-for="Course.Title"></label>
        <input asp-for="Course.Title" class="form-control" />
    </div>
    <div class="form-group mb-6">
        <label class="block text-sm font-medium text-gray-700 mb-2" asp-for="Course.ShortDescription"></label>
        <textarea asp-for="Course.ShortDescription" class="form-control"></textarea>
    </div>
    <div class="form-group mb-6">
        <label class="block text-sm font-medium text-gray-700 mb-2" asp-for="Course.Price"></label>
        <input asp-for="Course.Price" class="form-control" />
    </div>
    <div class="form-group mb-6">
        <label class="block text-sm font-medium text-gray-700 mb-2">Categories</label>
        @foreach (var category in Model.AllCategories)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@category.Id" name="SelectedCategoryIds" />
                <label class="form-check-label">@category.Name</label>
            </div>
        }
    </div>
    <button type="submit" class="bg-blue-600 text-white hover:bg-blue-700 focus-visible:ring-blue-500">Create</button>
</form>